/Arquivos Base/Imagens/
/Imagens
/main/pdf_teste
/main/__pycache__
/testes

*.png
*.jpg
*.pyc

pdfteste.pdf
/testes
pdfteste.docx
docxteste.docx       
teste_coord_pdf.pdf
output.txt
teste2.pdf

!requirements.txt
!/testes/main.py